.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.link {
  font-size: 20px;
  padding: 10px 20px;
  background: var(--form);
  border-radius: 10px;
}
